body {
	image-rendering:optimizeSpeed;
	image-rendering:-moz-crisp-edges;
	image-rendering:-o-crisp-edges;
	image-rendering:-webkit-optimize-contrast;
	image-rendering:pixelated;
	image-rendering:optimize-contrast;
	-ms-interpolation-mode:nearest-neighbor;
}
.obtainable{
	background-color: LightGreen;
}
.unobtainable{
	background-color: Coral;
}
.unplayable{
	background-color: Red;
}
input[type="number"]{
	width: 72px;
	text-align: right;
}
.digimon-sprite{
	background-repeat: no-repeat;
	background-position: 1px 0px;
	padding-left: 18px;
}
/*table{
	border: 8px solid transparent;
	border-image: url(img/border.png) 4 4 repeat;
	background:#2d3840;
}
tr:nth-child(1) > * {
  float: left;
}
tr:nth-child(2) > * {
  float: right;
}*/
table{
	border-collapse: collapse;
}
.visible-row-border{
	border: solid thin;
}