*{
	font-family: inherit;
	font-size: inherit;
}	
body {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	background-color: grey;
}
button{
	text-rendering: auto;
}
#downloadButton, #container, #bottom-div{
	position: fixed;
	left: 50%;
	transform: translate(-50%,0);
}
#container, #bottom-div{
	background-color: LightGrey;
}
#container{
	top: 40px;
}
#bottom-div{
	bottom: 0;
	text-align: center;
}
footer{
	position: fixed;
	bottom: 0;
	right: 0;
}
.obtainable{
	background-color: LightGreen;
}
.unobtainable{
	background-color: Coral;
}
.unplayable{
	background-color: Black;
	color: Red;
}
.baby{
	background-color: Black;
	color: White;
}
.otamamon{
	background-color: LightGreen;
	color: Blue;
}
input[type="number"]{
	width: 72px;
	text-align: right;
}
.sprite{
	height: 18px;
	width: 18px;
	overflow: hidden;
}
.sprite>.imgContainer{
	display: block;
	pointer-events: none;
	height: 16px;
	width: 16px;
	padding-top: 1px;
	padding-left: 1px;
	overflow: hidden;
}
.sprite>.imgContainer>img{
	height: 16px;
	width: 16px;
	object-fit: cover;
}
.screenname-tooltip{
	margin-top: -43px;
	margin-left: 129px;
	width: 206px;
}
.move-tooltip{
	margin-top: -40px;
	margin-left: 154px;
	width: 130px;
}
.is-tooltip{
	position: absolute;
	background-color: Grey;
	border: 1px solid #363636;
	border-radius: 4px;
	color: white;
	pointer-events: none;
	padding: 4px;
	text-align: center;
	display: none;
	visibility: hidden;
}
.has-tooltip:hover .is-tooltip{
	display: block;
	visibility: visible;
}
.effect-img{
	position: absolute;
	right: 16px;
	top: 3px;
	pointer-events: none;
}
